.table {
  table-layout: fixed;
  width: 100%;

  td {
    padding: 30px 5px;

    &:last-child {
      border: none;
    }
  }

  th {
    padding: 25px 5px;
  }

  th,
  td {
    min-width: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__head {
    background: #dddddd8f;
  }

  &__row {
    background: #dddddd29;
  }

  &__body {
    text-align: center;
  }
}
