.table {
  width: 100%;

  td {
    padding: 30px 0;

    &:last-child {
      border: none;
    }
  }

  th{
    padding: 25px 0;
  }

  &__head {
    background: #dddddd8f;
  }

  &__row {
    background: #dddddd29;
  }

  &__body {
    text-align: center;
  }
}
